body {
  background-color: #171c28;
  color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 30px;
}
p{
  margin:10px;
}
a,a:visited,a:link{
  text-decoration: none;
  color: #eeeeee;
}
ul{
  list-style-type: none;
}
ul>li{
  padding: 10px;
  margin: 10px;
}
.topBar{
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nameLogo{
  font-size: 30px;
}
.panelsRight{
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
.panelsRightItems:hover{
  cursor: pointer;
}
.panelsRightItems{
  margin-left: 10px;
  margin-right: 10px;
}
.slide1C{
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.AbMeText{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.nameT{
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 45px;
}
.userIMG{
  border-radius: 50%;
}
.col-md-6{
  margin: 0 3vw 2vh 0;
}
.skills{
  display: flex;
  justify-content: center;
}
.headerp{
  margin-bottom: 100px;
  text-align: center;
  font-size: 45px;
  align-items: center;
  margin-top: 100px;
}
.skills img{
  align-content: center;
  text-align: center;
  margin:12px;
  max-width: 70px;
  min-width: 37px;
  height: 55px;
}
.skillIcon{
  margin:12px;
  max-width: 70px;
  min-width: 37px;
  height: 55px;
}
.basicSkills{
  display: flex;
  justify-content: center;
}
.basicSkills img{
  margin: 12px;
}
.skillIcon:nth-child(1){
  margin-top: 50px;
}
.text1{
  margin-left: 10px;
  text-align: left;
}
.text2{
  text-align: center;
}
.header1{
  margin-bottom: 100px;
  text-align: center;
  font-size: 45px;
  align-items: center;
  margin-top: 400px;
  font-weight: bold;
}
.contact{
  text-align: center;

}
.listSocials{
  max-height: 55px;
  max-width: 55px;
  list-style-position: inside;
}
.socials{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  gap: 30px;
}
.header2{
  font-size: 45px;
  margin-bottom: 200px;
  font-weight: bold;
}
.qualifications{
  text-align: center;
}
.object1{
  align-content: center;
  display: flex;
  justify-content: center;
}
.object1:hover{
  cursor: pointer;
}
.object1 img {
  border-radius: 10%;
}
.credentials{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1vw;
}
button{
  width: 230px;
  height: 60px;
  border-radius: 10px;
  margin-top: 25px;
  background: #55198B;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.projects{
  margin-bottom: 600px;
}

.location{
  align-items: center;
}
.loc p{
  margin-bottom: 10px;
  vertical-align: top;
  display: inline-block;
}
.loc{
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}
